<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vitoria</title>
    <link rel="stylesheet" href="../static/Vitoria.css">
</head>
<body>
    <div id="texto">
    <h1>Parabens você venceuuuu 
    <h2>As Alternarivas Eram : </h2>
    <p>{{op}} {{op2}} {{op3}}</p></div>
    <div id="img"><img src="../static/victory.png" alt=""></div>
    <h1 id="texto2">"Cada batalha vencida é um passo em direção a vencer  guerra"</h1>
   
</body>
</html>